<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.d4dtranslationapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.d4dtranslationapp.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.d4dtranslationapp.LoadingScreenActivity"
            android:label="@string/title_activity_loading_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.d4dtranslationapp.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.example.d4dtranslationapp.MainActivity" >
        </activity>
        <activity
            android:name="com.example.d4dtranslationapp.ConversationDataListActivity"
            android:label="@string/title_activity_conversation_data_list"
            android:parentActivityName="com.example.d4dtranslationapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.d4dtranslationapp.MainActivity" />
        </activity>
    </application>

</manifest>
